<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <title> <%=title%></title>
        <link rel="stylesheet" href="./frontUser.css"/>
    </head>
    <body>
        <header>
            <%- include('./header'); %>
        </header>

        <h2> <%= title %></h2>
        <div>
            <form id="form">
                <label>할 일</label>
                <input type="text" id="contents"><br>
                <label>날짜</label>
                <input type="text" id="date"><br>
                <label>완료 여부 ( Y, N )</label>
                <input type="text" id="done"><br>
                <button type="submit">제출</button>
            </form>
        </div>
        <p>
        <div id="list">

        </div>
        <footer>
            <%- include('./footer'); %>
        </footer>
        <script src="http://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="./frontUser.js"></script>
    </body>
</html>